        
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Маршрут</title>
</head>
<body>
    {% include 'bar.html' %}

    {% if error_text %}
        <ul class="error-list">
        <li class="error-item">{{error_text}}</li>
        </ul>
    {% endif %}

    <form id="route-form" method="post">
        {% csrf_token %}
        {{ route_form.as_p }}
        <div id="notes-container">
            {% for note_form in notes_form%}
            <a>
                {% csrf_token %}
                {{ note_form.as_p }}
            </a>
            {% endfor %}
        </div>
        <button type="button" id="add-note-btn" onclick="addNoteForm()">Добавить заметку</button>
        <div id="dots-container">
            {% for dot_form in dots_form%}
            <a>
                {% csrf_token %}
                {{ dot_form.as_p }}
            </a>
            {% endfor %}
        </div>
        <button type="button" id="add-dot-btn" onclick="addDotForm()">Добавить точку</button>
        <input type="submit" value="Создать">
    </form>
</body>
<script>
    function addNoteForm() {
        notes-container.innerHTML  =notes-container.innerHTML +'<a>{% csrf_token %}{{ note_form.as_p }}</a>'
    }

    function addDotForm() {
        dots-container.innerHTML  =dots-container.innerHTML +'<a>{% csrf_token %}{{ dot_form.as_p }}</a>'
    }
</script>
</html>