<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class = "body_index">
    {% include 'messages.html' %}
    <div class = "nav_container_index">
        <a href="{% url 'login' %}">
            <button class="btn_index">Авторизация</button>
        </a>
        <a href="{% url 'register' %}">
            <button class="btn_index">Регистрация</button>
        </a>
    </div>
    <div class="head_container_index">
        <h1 class = "head_0">Добро пожаловать</h1>
        <h1 class = "head_0">В Тутуновку</h1>
    </div>
    <a>
        <img src="https://iili.io/JhlkvWX.png" alt="JhlkvWX.png" class = "img_index">
    </a>
</body>

</html>
