<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Маршрут</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body_rdetails">

    {% include 'navbar.html' %}
    {% include 'messages.html' %}

    <br>
    <br>

    {% if error_text %}
    <ul class="error-list">
        <li class="error-item">{{error_text}}</li>
    </ul>
    {% endif %}
    <form id="route-form" method="post">
        {% csrf_token %}
            <div class="information_container_nroute">
                <h1 class="head_1" style="margin-left:0px">  Новый маршрут:</h1>
                <p class="route_name rounte_name_nroute">
                    <label class="label_nroute">Название: </label>
                    <input type="text" name="Name" value="{{ route_form.Name.value|default_if_none:'' }}" class="input_nroute">
                </p>
                <div class="container_nroute">
                    <p class="starting_date_rdetails" style="font-size: 14px"><label class="label_nroute">Дата начала </label> <input class="input_nroute" type="date" name="date_in" value="{{ route_form.date_in.value|default_if_none:'' }}"></p>
                    <p class="ending_date_rdetails" style="font-size: 14px"><label class="label_nroute">Дата конца</label> <input class="input_nroute" type="date" name="date_out" value="{{ route_form.date_out.value|default_if_none:'' }}"></p>
                </div>
                <div class="container_nroute">
                    <p class="list_of_things list_of_things_nroute"><label class="label_nroute">Список вещей для путешествия:</label> <input class="input_nroute" type="text" name="baggage" value="{{ route_form.baggage.value|default_if_none:'' }}">
                    </p>
                    <p class="comment comment_nroute"><label class="label_nroute">Комментарий:</label> <input class="input_nroute" type="text" name="comment" value="{{ route_form.comment.value|default_if_none:'' }}"></p>

                </div>
                <div class="rating_nroute">
                    <p>
                        <label class="label_nroute">Оценка:</label>
                        <input class="input_nroute" type="number" name="rate" min="-1" max="10" value="{{ route_form.rate.value|default:0 }}">
                    </p>
                    <label class="label_nroute">Теги:</label>
                    {{route_form.tags}}
                    <br>
                </div>
            </div>

            <div class="container_nroute">
                <br>
                    <div class="dots dots_nroute">
                        <div id="dots-container">
                            {% for dot_form in dot_forms%}
                            <a>
                                {% csrf_token %}
                                {{ dot_form.as_p }}
                            </a>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="notes notes_nroute">
                        <div id="notes-container">
                            {% for note_form in note_forms %}
                            <a>
                                {% csrf_token %}
                                {{ note_form.as_p }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            <br>
            <button type="button" id="add-note-btn" onclick="addNoteForm()" class="btn_rdetails" style="margin: 0 auto; display: block">Добавить заметку</button>
            <br>
            <button type="button" id="add-dot-btn" onclick="addDotForm()" class="btn_rdetails" style="margin: 0 auto; display: block">Добавить точку</button>
            <br>
            <button type="submit" class="btn_rdetails" style="margin: 0 auto; display: block">Создать</button>
            <br>

    </form>
</body>
{% include 'footer.html' %}
<script>
    function createDotForm(prefix) {
        const dotFormHtml = `
            <div>
                <label for="id_dots-${prefix}-name">Название:</label>
                <input type="text" name="dots-${prefix}-name" required>
            </div>
            <div>
                <label for="id_dots-${prefix}-information">Место(название или адрес):</label>
                <input type="text" name="dots-${prefix}-information" required>
            </div>
            <div>
                <label for="id_dots-${prefix}-date">Дата:</label>
                <input type="date" name="dots-${prefix}-date">
            </div>
            <div>
                <label for="id_dots-${prefix}-note">Примечание:</label>
                <textarea name="dots-${prefix}-note"></textarea>
            </div>
            <br><br><br>
        `;
        return dotFormHtml;
    }


    function addDotForm() {
        const dotsContainer = document.getElementById('dots-container');
        const nextIndex = dotsContainer.children.length;
        const dotFormHtml = createDotForm(nextIndex);
        dotsContainer.insertAdjacentHTML('beforeend', dotFormHtml);
    }

    function createNoteForm(prefix) {
        const noteFormHtml = `
            <div>
                <label for="id_notes-${prefix}-text">Заметка:</label>
                <textarea name="notes-${prefix}-text"></textarea>
            </div>
            <br>
        `;
        return noteFormHtml;
    }

    function addNoteForm() {
        const notesContainer = document.getElementById('notes-container');
        const nextIndex = notesContainer.children.length;
        const noteFormHtml = createNoteForm(nextIndex);
        notesContainer.insertAdjacentHTML('beforeend', noteFormHtml);
    }

</script>
</html>
