<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route Detail</title>
    <script src="https://api-maps.yandex.ru/v3/?apikey=871c45f9-726b-4202-bf74-0decb2a77698&lang=ru_RU"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class = "body_rdetails">
    {% include 'navbar.html' %}
    {% include 'messages.html' %}
    <p class="route_author_rdetails">
        Автор: {{route.author.username}}
    </p>
    <h1 class="head_1">Маршрут</h1>
    <div>
        <p class="route_name route_name_rdetails">
            {{route.Name}}
        </p>

        <div class="container_rdetails">
            <p class="route_length_rdetails">
                <strong class="strong_rdetails">Продолжительность поездки: </strong>
                {{route.length}}
            </p>
            <p class="route_month_rdetails">
                <strong class="strong_rdetails">Месяц поездки: </strong>
                {{route.month}}
            </p>
            <p class="route_year_rdetails">
                <strong class="strong_rdetails">Год поездки: </strong>
                {{route.year}}
            </p>
        </div>
        <div class="container_rdetails">
            <p class="list_of_things">
                <strong class="strong_rdetails">Оценка: </strong>
                {{route.rate}}
            </p>
            <p class="comment">
                {% if route.comment %}
                <strong class="strong_rdetails">Комментарий:</strong>
                {{route.comment}}
                {% else %} К этому маршруту не оставили комментария. {%endif%}
            </p>
        </div>
        {% if route.tags.all.exists %}
        <div class="container_rdetails" style="padding-bottom: 20px">
            <div class="dots dots_rdetails">
                <p style="color: #000000">
                    Теги: {{ route.tags.all|join:", " }}
                </p>
            </div>
        </div>
        {% endif %}
        <div id="map_rdetails"></div>
        <form action="{% url 'save_route' pk=route.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn_route btn_rdetails">Сохранить</button>
        </form>
    </div>

    <script>
        var dots_vis = {{ dots_vis|safe }};
        console.log(dots_vis);

        async function initMap() {
            await ymaps3.ready;
            const {YMap, YMapDefaultSchemeLayer, YMapDefaultFeaturesLayer} = ymaps3;
            const {YMapDefaultMarker} = await ymaps3.import('@yandex/ymaps3-markers@0.0.1');

            const map = new YMap(
                document.getElementById('map_rdetails'),
                {
                    location: {
                        center: [37.589873, 55.733293],
                        zoom: 7
                    }
                }
            );
            map.addChild(new YMapDefaultSchemeLayer());
            map.addChild(new YMapDefaultFeaturesLayer());
            dots_vis.forEach((source) =>{
                const marker = new YMapDefaultMarker({
                    coordinates: source['coords'],
                    title: source['name'],
                    subtitle: `(${source['inf']})`,
                    color: '#FF2400'
                });
                map.addChild(marker);
            });
        }

        window.addEventListener('DOMContentLoaded', function(){
            initMap();
        });
    </script>
    {% include 'footer.html' %}
</body>
</html>
