<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route Detail</title>
    <script src="https://api-maps.yandex.ru/v3/?apikey=871c45f9-726b-4202-bf74-0decb2a77698&lang=ru_RU"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body class = "body_rdetails">
    {% include 'navbar.html' %}
    {% include 'messages.html' %}
    <h1 class="head_1">  Маршрут</h1>
    <div>
        <p class="route_name_rdetails">{{route.Name}}</p>
        <div class="container_rdetails">
            <p class="route_length_rdetails">
                <strong class="strong_rdetails">Продолжительность: </strong>
                {{route.length}}
            </p>
            <p class="route_month_rdetails">
                <strong class="strong_rdetails">Месяц поездки: </strong>
                {{route.month}}
            </p>
            <p class="route_year_rdetails">
                <strong class="strong_rdetails">Год поездки: </strong>
                {{route.year}}
            </p>
        </div>
        <div class="container_rdetails">
            <p class="starting_date_rdetails">
                <strong class="strong_rdetails">Дата начала: </strong>
                {{route.date_in}}
            </p>
            <p class="ending_date_rdetails">
                <strong class="strong_rdetails">Дата конца: </strong>
                {{route.date_out}}
            </p>
        </div>
        <div class="container_rdetails">
            <p class="list_of_things_rdetails">
                {% if route.baggage %}
                <strong class="strong_rdetails">Список вещей для путешествия: </strong>
                {{route.baggage}}
                {% else %} Вы не написали что хотите взять с собой.{% endif %}
            </p>
            <p class="comment_rdetails">
                {% if route.comment %}
                <strong class="strong_rdetails">Комментарий:</strong>
                {{route.comment}}
                {% else %} Вы не оставили комментария к этому маршруту.{% endif %}
            </p>
        </div>

        <div class="container_rdetails">
            <div class="dots_rdetails">
                <p>
                    <strong class="strong_rdetails">Оценка: </strong>
                    {{route.rate}}
                </p>
                {% if route.tags.all.exists %}
                    <p>
                        Теги: {{ route.tags.all|join:", " }}
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="container_rdetails" style="padding-top: 20px">
            <div id="map_rdetails"></div>
            <div class="notes_rdetails">
                <p>
                    <strong class="strong_rdetails">Заметки</strong>
                </p>
                {% if notes %}
                    <ul>
                        {% for note in notes %}
                        <li>
                            <input type="checkbox" id="note_{{ note.id }}" onchange="toggleNoteDone('{{ note.id }}')" {% if note.done %}checked{% endif %}>
                            <label for="note_{{ note.id }}" {% if note.done %} style="text-decoration: line-through;"{% endif %}>
                                {{ note.text }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Вы ещё не создали заметки к этому маршруту.</p>
                {% endif %}
            </div>
        </div>
        <div class="container_rdetails" style="padding-top: 20px">
            <div class="dots_rdetails">
                <p>
                    <strong class="strong_rdetails">Точки</strong>
                </p>
                {% for dot in dots %}
                    <p>
                        <strong class="strong_rdetails">Имя: </strong>{{dot.name}}
                    </p>
                    {% if dot.date %}
                    <p>
                        <strong class="strong_rdetails">Дата: </strong>
                        {{dot.date}}
                    </p>
                    {% endif %}
                    <p>
                        <strong class="strong_rdetails">Название/Адрес: </strong>
                        {{dot.information}}
                    </p>
                    {% if dot.note %}
                    <p>
                        <strong class="strong_rdetails">Примечание: </strong>
                        {{dot.note}}
                    </p>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>

        <div class="container_rdetails" style>
            <a href="{% url 'editing_route' route_id=route.id %}">
                <button class="edit_btn_rdetails">Редактировать</button>
            </a>
        </div>
        <a href="{% url 'post_route' id=route.id %}">
            <button class="post_btn_rdetails">Опубликовать</button>
        </a>
        <br><br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var dots_vis = {{ dots_vis|safe }};
        console.log(dots_vis);

        async function initMap() {
            await ymaps3.ready;
            const {YMap, YMapDefaultSchemeLayer, YMapDefaultFeaturesLayer} = ymaps3;
            const {YMapDefaultMarker} = await ymaps3.import('@yandex/ymaps3-markers@0.0.1');

            const map = new YMap(
                document.getElementById('map'),
                {
                    location: {
                        center: [37.589873, 55.733293],
                        zoom: 7
                    }
                }
            );
            map.addChild(new YMapDefaultSchemeLayer());
            map.addChild(new YMapDefaultFeaturesLayer());
            dots_vis.forEach((source) =>{
                const marker = new YMapDefaultMarker({
                    coordinates: source['coords'],
                    title: source['name'],
                    subtitle: `(${source['inf']}) Дата: ${source['date']}`,
                    color: '#FF2400'
                });
                map.addChild(marker);
            });
        }

        function toggleNoteDone(noteId) {
            const checkbox = document.getElementById(`note_${noteId}`);
            const noteText = document.querySelector(`label[for="note_${noteId}"]`);
            const done = checkbox.checked;

            noteText.style.textDecoration = done ? 'line-through' : 'none';

            const csrftoken = getCookie('csrftoken');

            axios({
                method: 'patch',
                url: `/update_note/${noteId}/`,
                data: { done },
                headers: { 'X-CSRFToken': csrftoken }
            })
            .then(response => {
                console.log(response.data);
            })
            .catch(error => {
                console.error('Произошла ошибка при отправке запроса:', error);
            });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        initMap();
    </script>
    {% include 'footer.html' %}
</body>
</html>
