<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <form method="post" action="{{ url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-first" value="Apply">
        </form>
        <form method="post" action="/complaints">
            {% csrf_token %}
            <input type="submit" class="btn btn-first" value="Back">
        </form>
    </div>
</body>
</html>