<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complaints</title>
</head>
<body>
    {% include 'bar.html' %}

    {% if status == 0 %}
        <h1>You`r complaints</h1>
        <a href="{% url 'create_complaint' %}"><input type="button", value="Create complaint" /></a>
        <br>
    {% else %}
        <h1>User complaints</h1>
    {% endif %}

    {% for complaint in data %}
    <tr>
        <th>Message: {{ complaint.text }}</th>
        <br>
        {% if status == 1 %}
            <th>User: {{ complaint.author }}</th>
            <br>
            <th>
                <a href="{% url 'complaint_answer'%}"><input type="button", value="Answer" /></a>
            </th>
        {% else %}
            <th>Answer: {{ complaint.answer }}</th>
            <br>
        {% endif %}
        <th>Time: {{ complaint.data }}</th>
        <br>
    </tr>
    {% endfor %}

</body>
</html>