<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Routes</title>
</head>
<body>
{% include 'bar.html' %}
    <h1>Ваш профиль</h1>
    <p>Username: {{ profile_info.username }}</p>
    <p>Email: {{ profile_info.email }}</p>
    <p>First Name: {{ profile_info.first_name }}</p>
    <p>Last Name: {{ profile_info.last_name }}</p>

    <h2>Ваши маршруты:</h2>
    {% if routes %}
        <ul>
            {% for route in routes %}
                <li>
                    <a href="{% url 'route_detail' route_id=route.id %}">{{ route.Name }}</a><br>
                    Date In: {{ route.date_in }}<br>
                    Date Out: {{ route.date_out }}<br>
                    Number of Dots: {{ route.dots.count }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No routes found for this user.</p>
    {% endif %}
</body>
</html>