<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Маршрут</title>
</head>
<body>
    {% include 'bar.html' %}
    {% include 'messages.html' %}
    <form id="route-form" method="post">
        {% csrf_token %}
        {{ route_form.as_p }}
        <div id="dots-container">
        </div>
        <div id="notes-container">
        </div>
        <button type="button" id="add-note-btn" onclick="addNoteForm()">Добавить заметку</button>
        <button type="button" id="add-dot-btn" onclick="addDotForm()">Добавить точку</button>
        <input type="submit" value="Создать">
    </form>
</body>
<script>
    function createDotForm(prefix) {
    const dotFormHtml = `
        <p>Точка</p>
        <div>
            <label for="id_dots-${prefix}-name">Название:</label>
            <input type="text" name="dots-${prefix}-name" required>
        </div>
        <div>
            <label for="id_dots-${prefix}-api_vision">Api Vision:</label>
            <input type="text" name="dots-${prefix}-api_vision">
        </div>
        <div>
            <label for="id_dots-${prefix}-date">Дата:</label>
            <input type="date" name="dots-${prefix}-date"> <!-- заменили на input type="date" -->
        </div>
        <div>
            <label for="id_dots-${prefix}-note">Примечание:</label>
            <textarea name="dots-${prefix}-note"></textarea>
        </div>
        <div>
            <label for="id_dots-${prefix}-information">Информация:</label>
            <input type="text" name="dots-${prefix}-information">
        </div>
        <hr>
        `;
        return dotFormHtml;
    }


    function createNoteForm(prefix) {
        const noteFormHtml = `
            <div>
                <label for="id_notes-${prefix}-text">Заметка:</label>
                <textarea name="notes-${prefix}-text"></textarea>
            </div>
            <hr>
        `;
        return noteFormHtml;
    }

    function addNoteForm() {
        const notesContainer = document.getElementById('notes-container');
        const nextIndex = notesContainer.children.length;
        const noteFormHtml = createNoteForm(nextIndex);
        notesContainer.insertAdjacentHTML('beforeend', noteFormHtml);
    }

    function addDotForm() {
        const dotsContainer = document.getElementById('dots-container');
        const nextIndex = dotsContainer.children.length;
        const dotFormHtml = createDotForm(nextIndex);
        dotsContainer.insertAdjacentHTML('beforeend', dotFormHtml);
    }
</script>
</html>
