<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route Detail</title>
    <script src="/api_yn_map/"></script>
    <style>
        #map {
            width: 889px;
            height: 606px;
            border-radius: 30px;
            margin-left: 20px;
            margin-top: 20px;
        }
        #coordinates {
            margin-top: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    {% include 'bar.html' %}
    {% include 'messages.html' %}

    <h1>Маршрут</h1>
    <p><strong>Author:</strong> {{ route.author.username }}</p>
    <p><strong>Comment:</strong> {{ route.comment }}</p>
    <p><strong>Rate:</strong> {{ route.rate }}</p>
    <p><strong>Number of Dots:</strong> {{ route.dots.count }}</p>

    <div id="map"></div>

    <a href="{% url 'save_route' pk=route.pk %}"><button>Сохранить</button></a>
    <script>
        var dots_vis = {{ dots_vis|safe }};
        console.log(dots_vis);

        initMap()
        async function initMap() {
            await ymaps3.ready;
            const {YMap, YMapDefaultSchemeLayer, YMapDefaultFeaturesLayer} = ymaps3;
            const {YMapDefaultMarker} = await ymaps3.import('@yandex/ymaps3-markers@0.0.1');

            const map = new YMap(
                document.getElementById('map'),
                {
                    location: {
                        center: [37.589873, 55.733293],
                        zoom: 7
                    }
                }
            );
            map.addChild(new YMapDefaultSchemeLayer());
            map.addChild(new YMapDefaultFeaturesLayer());
            dots_vis.forEach((source) =>{
                const marker = new YMapDefaultMarker({
                    coordinates: source['coords'],
                    title: source['name'],
                    subtitle: `(${source['inf']})`,
                    color: '#FF2400'
                });
                map.addChild(marker);
            });
        }
    </script>
</body>
</html>
